<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100vw;
            height: 100vh;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex items-center justify-between flex-col gap-2">
    <div class="mt-8 w-11/12">
        <div class="mb-6">
            <h2 class="text-3xl font-bold mb-4">
                <%= title %>
            </h2>
            <p class="text-md">
                <%= message %>
            </p>
        </div>
        <div class="my-6">
            <h2 class="text-2xl font-bold mb-2 text-slate-700">Documentation</h2>

            <% docs.forEach((doc)=> {%>

                <details class="p-1">
                    <summary class="text-lg mb-2">
                        <%= doc.heading %>
                    </summary>
                    <code class="font-bold text-slate-700 bg-slate-200 py-1 px-2 rounded-md"><%= doc.route %></code>
                    <p class="my-2">
                        <%= doc.details %>
                    </p>
                </details>

                <% })%>

        </div>
    </div>

    <div class="sticky bottom-2 p-2 w-11/12 text-center text-sm bg-slate-100 rounded-md">
        Made with &#129505; by <a href="https://github.com/nirmit27" target="_blank" rel="noopener noreferrer"
            class="text-slate-700 font-semibold hover:text-blue-800">Nirmit Mishra</a>.
    </div>
</body>

</html>
